{% load static %}
{% block footer %}
<!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a href="#" class="footer-logo"><img src="{% static 'img/logo_FSK-01.png' %}" alt=""></a>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>

                        <!-- Copywrite Text -->
                        <div class="copywrite-text mt-4">
                            <p> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by Tridev Developers.</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Quick Links</h4>

                        <!-- Open Times -->
                        <div class="open-time">
                            <li><a href="./index.html">- Hair</a></li>
                            <li><a href="./about.html">- Beauty</a></li>
                            <li><a href="./service.html">- Bridal & Groom</a></li>
                            <li><a href="./portfolio.html">-Tattoo</a></li>
                            <li><a href="./blog.html">-Nail Services</a></li>
                            <li><a href="#">- Hair Dressing</a></li>
                            <li><a href="#">- Beautician</a></li>
                            <li><a href="#">- Professional Makeup</a></li>
                            <li><a href="#">- Professional Makeup</a></li>
                            <li><a href="#">- Groomging</a></li>
                        </div>

                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">

                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact Us</h4>

                        <!-- Contact Address -->
                        <div class="contact-address">
                            <p>Tel: +91-892 8230 133</p>
                            <p>E-mail: fsksalonacademy@gmail.com</p>
                            <p>Address: 101/B, 1st Floor, VRAJ DEEP CHS LTD., Eksar Road, Above Arihant Medical, Opp. Roayl Veg. Treat, Royal Complex, Borivali (W), Mumbai - 400 092.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

{% endblock footer %}